<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>angular directive</title>
	<style>
		.color{
			color: red;
		}
		.font{
			font-size: 12px;
		}
	</style>
</head>
<body>
<!-- 
	  ng-selected:
	  ng-disabled:
	  ng-readonly:
	  ng-model-options="{updateOn:'blur'}"  失去焦点后触发
	  ng-list: 指定数组中每个元素中间的分割符
	  ng-class:
 -->
	<div ng-app="app" ng-controller="app" ng-cloak >
		  <div ng-class="{color:true,font:true}">df</div>

		  <ul>
		  	<!-- <li ng-repeat="(k,v) in data" ng-class="{color:$index==1,font:$last}">
		  		{{v.name}}+{{v.age}}
		  	</li> -->
		  	<li ng-repeat="(k,v) in data" ng-class-even="{color:true}" ng-cloak>
		  		{{v.name}}+{{v.age}}
		  	</li>
		  </ul>

		  <div ng-style="{color:'red'}">
		  	jmz
		  </div>
	</div>



	<script src="../js/lib/angular.js"></script>
	<script>
		var myModule=angular.module('app',[]);
		myModule.controller('app',['$scope','$q',function($scope,$q){

			console.log($q);
			  $scope.data=[{
			  	name:'jmz',
			  	age:24
			  },{
			  	name:'jmz',
			  	age:24
			  },{
			  	name:'jmz',
			  	age:24
			  }]
		}]);
	</script>

</body>
</html>